.message-box {
  position: fixed;
  top: -4rem;
  z-index: 99;
  width: 100%;
  > div {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6em 1.6em;
    background: #e1f3d8;
    border-radius: 0.3em;
    opacity: 0;
    color: #67c23a;
    font-size: 1.3rem;
    font-family: Ubuntu Mono, monospace;
    transition: opacity .4s, top .6s;
    &.visible {
      top: 7rem;
      opacity: 1;
    }
  }
}